USE [master]
GO
/****** Object:  Database [Esercizio1]    Script Date: 25/02/2025 15:45:14 ******/
CREATE DATABASE [Esercizio1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'esercizion', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\esercizion.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'esercizion_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\esercizion_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Esercizio1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Esercizio1]
GO
/****** Object:  Table [dbo].[Cantiere]    Script Date: 25/02/2025 15:45:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cantiere](
	[IdCantiere] [uniqueidentifier] NOT NULL,
	[DEnominazioCantiere] [varchar](30) NOT NULL,
	[Indirizzo] [varchar](20) NOT NULL,
	[Citta] [varchar](20) NOT NULL,
	[CAP] [varchar](6) NOT NULL,
	[PersonaRiferimento] [varchar](20) NOT NULL,
	[DataInizioLavoro] [date] NOT NULL,
	[DataFineLavoro] [date] NOT NULL,
	[Lavoriterminati] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clienti]    Script Date: 25/02/2025 15:45:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clienti](
	[IdCliente] [uniqueidentifier] NOT NULL,
	[Nome] [varchar](20) NOT NULL,
	[Cognome] [varchar](20) NOT NULL,
	[DataNascita] [date] NOT NULL,
	[Sesso] [varchar](1) NOT NULL,
	[CF] [varchar](17) NOT NULL,
	[PIva] [varchar](20) NOT NULL,
	[Attivo] [bit] NOT NULL,
	[Saldo] [decimal](10, 2) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dipendente]    Script Date: 25/02/2025 15:45:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dipendente](
	[IdDipendente] [uniqueidentifier] NOT NULL,
	[Nome] [varchar](20) NOT NULL,
	[Cognome] [varchar](20) NOT NULL,
	[CF] [varchar](17) NOT NULL,
	[Figliacarico] [int] NOT NULL,
	[Sposato] [bit] NOT NULL,
	[LivelloLavorativo] [varchar](10) NOT NULL,
	[DescrizioneMansione] [varchar](50) NOT NULL,
	[Salario] [decimal](18, 0) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
